.banner{
    /* background-image:  linear-gradient(to right bottom, var(--lightGreyColor), var(--greyColor)), url('/public/images/auto2.jpg');
    background-size: cover; */
    background-image: linear-gradient(to right bottom,
    #1a1b19b3, 
    #000000c7), 
    url('/public/images/auto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}