.banner{
    /* background-image:  linear-gradient(to right bottom, var(--lightGreyColor), var(--greyColor)), url('/public/images/auto2.jpg');
    background-size: cover; */
    background-image: linear-gradient(to right bottom,
    #1a1b19b3, 
    #000000c7), 
    url('/public/images/auto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner.banner2{
    background-image: linear-gradient(to right bottom,
    #1a1b19b3, 
    #000000c7), 
    url('/public/images/auto1.jpg');

}

.banner.banner3{
    background-image: linear-gradient(to right bottom,
    #1a1b19b3, 
    #000000c7), 
    url('/public/images/auto3.jpg');

}

.leftAngle{
    position: absolute;
    top: 35%;
    left: 3%;
    background-color: var(--greyColor);
    padding: 15px;

}

.rightAngle{
    position: absolute;
    top: 35%;
    right: 3%;
    background-color: var(--greyColor);
    padding: 15px;

}

.leftAngle:hover, .rightAngle:hover{
    background-color: var(--mainColor);
    border-radius: 5%;
}

.leftAngle svg, .rightAngle svg{
    color: var(--whiteColor);
    font-size: 1.7rem;
}

@keyframes moveBackgroundImage {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}