.banner{
    background: linear-gradient(to right bottom,
    #1a1b19b3, 
    #000000c7); 
    position: relative;
    overflow-x: hidden;
}   


.leftAngle{
    position: absolute;
    top: 35%;
    left: 3%;
    background-color: var(--greyColor);
    padding: 15px;

}

.rightAngle{
    position: absolute;
    top: 35%;
    right: 3%;
    background-color: var(--greyColor);
    padding: 15px;

}

.leftAngle:hover, .rightAngle:hover{
    background-color: var(--mainColor);
    border-radius: 5%;
    cursor: pointer;
}

.leftAngle svg, .rightAngle svg{
    color: var(--whiteColor);
    font-size: 1.7rem;
}



