.nav{
   padding: 25px;
    background-color: var(--greyColor);
   transition: position 1s;
}

.navFixed{
    width: 100vw;;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav__contents{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3%;
}

.nav__content{
    color: var(--whiteColor);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color .5s;
}

.nav__content:hover{
    color: var(--mainColor);
}